﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" style="height: 150px;width:100%"/>
            <div class="carousel-caption" role="option">
                <p>Australia Day 2018</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.png" alt="Visual Studio" class="img-responsive" style="height:150px;width:100%" />
            <div class="carousel-caption" role="option">
                <p>Australia Day 2018</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpg" alt="Package Management" class="img-responsive"  style="height:150px;width:100%"/>
            <div class="carousel-caption" role="option">
                <p>Australia Day 2018</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <p></p>
    <h4>Digital Ancestry Basic Search</h4>
    <p></p>
</div>
<div class="row" ng-app="myApp" ng-controller="formCtrl" >
    <form class="form-horizontal" ng-submit="submit()">
        <div class="form-group">
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="Name" placeholder="Jane Doe" required="required">
            </div>
            <button type="submit" class="btn btn-primary btn-lg col-sm-6">Search</button>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label class="col-sm-2"> Gender:</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="Male"> Male
                        </label>
                        <label>
                            <input type="checkbox" ng-model="Female"> Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <a asp-controller="AdvancedSearch" asp-action="Index">Advanced Search</a>
            </div>
        </div>
    </form>
    Results:
    <div class="container-fluid">
        <div class="row table-header-green">
            <div class="col-md-3">ID</div>
            <div class="col-md-3">NAME</div>
            <div class="col-md-3">GENDER</div>
            <div class="col-md-3">BIRTHPLACE</div>
        </div>
        <div class="row" ng-repeat="person in people">
            <div class="col-md-3">{{person.id}}</div>
            <div class="col-md-3">{{person.name}}</div>
            <div class="col-md-3">{{person.gender}}</div>
            <div class="col-md-3">{{person.birthPlace}}</div>
        </div>
    </div>
    <br/>
    <div >
        <!-- pager -->
        <ul ng-if="pager.pages.length" class="pagination">
            @*<li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(1)">First</a>
            </li>*@
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                <a ng-click="setPage(page)">{{page}}</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
            </li>
            @*<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="setPage(pager.totalPages)">Last</a>
            </li>*@
        </ul>
    </div>
</div>
